*{
	margin: 0;
	padding: 0;
}

.top-menu{
	list-style-type: none;
	background-color: rgba(40,79,117,0.8);
	padding-right: 30px;
}


nav li{
	display: inline-block;
	padding: 15px;
	
}

li a{
	color: white;
	text-decoration: none;
}

li a:hover{
	color: coral;
}

nav{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
}

.header-fone{
	width: 100%;
}

.float-block{
	position: absolute;
	top: 220px;
    right: 50px;
    z-index: 2;
}

.float-block h1{
	color: white;
	font-size: 50px;
	text-shadow: 3px 3px 6px rgba(150, 150, 150, 1);
}

.float-block span{
	color: white;
	float: right;
    padding: 15px 25px;
    background-color: #284F75;
    font-size: 30px;
}

.sent-item{
	display: inline-block;
	-webkit-box-shadow: -7px 12px 37px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: -7px 12px 37px 0px rgba(0,0,0,0.3);
	box-shadow: -7px 12px 37px 0px rgba(0,0,0,0.3);
	margin: 0px 30px;    padding: 40px 30px;
    width: 300px;
    padding: 40px 30px;
    width: 300px;
}

.sent-item:hover{
	-webkit-box-shadow: -7px 12px 37px 0px rgba(0,0,0,4);
	-moz-box-shadow: -7px 12px 37px 0px rgba(0,0,0,4);
	box-shadow: -7px 12px 37px 0px rgba(0,0,0,4);
	cursor: pointer;
	font-weight: bold;
}

.sent-item p{
	margin-top: 20px; 
	font-size: 20px;
	color: #3A5D80;
}

.sents-block{
	text-align: center;
}

#we-sent h1{
	text-align: center;
}

#we-sent {
    padding: 30px 0px;
}

#advantages{
	background-image: url(../images/hongkongp1.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 100% 100%;
	position: relative;
}

.z-block{
	z-index: 2;
	position: relative;
}

#advantages h1{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

#advantages p{
	color: white;
	padding-bottom: 30px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.overlay{
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.text-block {
	position: relative;
	z-index: 2;
}

#prices {
	padding: 30px 0;
}

#prices h1 {
	padding: 20px 0;
	font-size: 25px;
}

#prices li {
	margin-left: 50px;
	margin-bottom: 15px;
}

#contacts {
	background-color: rgb(40,79,117);
}

input[type="text"] {
	width: 600px;
	height: 40px;
	padding-left: 15px;
	font-size: 15px;
	margin-bottom: 25px;
}

#contacts {
	text-align: center;
	padding-bottom: 10px;
}

#contacts h1 {
	padding-top: 40px;
	color: white;
}

input[type="submit"] {
	font-weight: bold;
	border: none;
	width: 250px;
	height: 40px;
	font-size: 13px;
	color: rgb(40,79,117);
	background-color: white;
	margin-bottom: 40px;
}

#contacts p {
	color: white;
}

footer {
	color: white;
	text-align: center;
	padding: 20px 0 40px;
	font-weight: bold;
	background-color: rgb(40,79,117);
}

footer span {
	padding: 0 40px;
}

#gallery {
	position: relative;
}

.abs-div {
	position: absolute;
	bottom: 0;
	background-color: rgba(40,79,117,0.8);
	width: 100%;
	margin: 0;
	color: white;
	font-size: 20px;
	padding: 10px;
}

.abs-div h1 {
	font-size: 25px;
	margin: 5px 0;
}


/*Responsive*/
@media (max-width: 1440px) {
	h1{
		color: red;
	}
}

@media (max-width: 1200px) {
	h1{
		color: blue;
	}
}

@media (max-width: 991px) {
	h1{
		color: red;
	}
}


@media (max-width: 767px) {
	h1{
		color: blue;
	}
}


@media (max-width: 500px) {
	h1{
		color: green;
	}
}

@media (max-width: 375px) {
	h1{
		color: blue;
	}
}


@media (max-width: 320px) {
	h1{
		color: yellow;
	}
}

/*Responsive*/



