*{
	margin: 0;
	padding: 0;
}

.top-menu{
	list-style-type: none;
	background-color: rgba(40,79,117,0.8);
	padding-right: 30px;
}


li{
	display: inline-block;
	padding: 15px;
	
}

li a{
	color: white;
	text-decoration: none;
}

li a:hover{
	color: coral;
}

nav{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
}

.header-fone{
	width: 100%;
}

.float-block{
	position: absolute;
	top: 220px;
    right: 50px;
    z-index: 2;
}

.float-block h1{
	color: white;
	font-size: 50px;
	text-shadow: 3px 3px 6px rgba(150, 150, 150, 1);
}

.float-block span{
	color: white;
	float: right;
    padding: 15px 25px;
    background-color: #284F75;
    font-size: 30px;
}

.sent-item{
	display: inline-block;
	-webkit-box-shadow: -7px 12px 37px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: -7px 12px 37px 0px rgba(0,0,0,0.3);
	box-shadow: -7px 12px 37px 0px rgba(0,0,0,0.3);
	margin: 0px 30px;    padding: 40px 30px;
    width: 300px;
    padding: 40px 30px;
    width: 300px;
}

.sent-item:hover{
	-webkit-box-shadow: -7px 12px 37px 0px rgba(0,0,0,4);
	-moz-box-shadow: -7px 12px 37px 0px rgba(0,0,0,4);
	box-shadow: -7px 12px 37px 0px rgba(0,0,0,4);
	cursor: pointer;
	font-weight: bold;
}

.sent-item p{
	margin-top: 20px; 
	font-size: 20px;
	color: #3A5D80;
}

.sents-block{
	text-align: center;
}

#we-sent h1{
	text-align: center;
}

#we-sent {
    padding: 30px 0px;
}